[Unit]
Description=celery daemon

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/Themis
ExecStart=/home/ubuntu/Themis/config/celery/celery.sh

[Install]
WantedBy=multi-user.target
