MAILTO=xaviermathew90@gmail.com
SHELL=/bin/bash

00 * * * * /usr/sbin/logrotate --state /home/ubuntu/Mnemonic/state/logrotate-state /home/ubuntu/Mnemonic/config/logrotate/themis
# 00 00 * * 0 cd /home/ubuntu/virtual_env/mnemonic/bin/ && source activate && source postactivate && make backup_article_cache > logs/backup_article_cache.log 2>&1

00 * * * * cd /home/ubuntu/virtual_env/mnemonic/bin/ && source activate && source postactivate && python manage.py import_feeds_from_google_sheet > logs/import_feeds_from_google_sheet.log 2>&1
00 05 * * * cd /home/ubuntu/virtual_env/mnemonic/bin/ && source activate && source postactivate && python manage.py crawl_tweets --limit 500 > logs/crawl_tweets.log 2>&1
30 * * * * cd /home/ubuntu/virtual_env/mnemonic/bin/ && source activate && source postactivate && python manage.py crawl_feeds > logs/crawl_feeds.log 2>&1
15 * * * * sudo systemctl restart celery
