MAILTO=xaviermathew90@gmail.com
SHELL=/bin/bash

00 * * * * /usr/sbin/logrotate --state /home/ubuntu/Mnemonic/state/logrotate-state /home/ubuntu/Mnemonic/config/logrotate/themis
00 00 * * 0 find data/cache/articles/ -type f -mtime +1 | tar cfvz /home/ubuntu/Mnemonic/data/cache_articles_$(date +%F).tar.gz --remove-files -T -

00 * * * * cd /home/ubuntu/virtual_env/mnemonic/bin/ && source activate && source postactivate && python manage.py import_feeds_from_google_sheet > logs/import_feeds_from_google_sheet.log 2>&1
05 * * * * cd /home/ubuntu/virtual_env/mnemonic/bin/ && source activate && source postactivate && python manage.py crawl_tweets --limit 100 > logs/crawl_tweets.log 2>&1
30 * * * * cd /home/ubuntu/virtual_env/mnemonic/bin/ && source activate && source postactivate && python manage.py crawl_feeds > logs/crawl_feeds.log 2>&1
